<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>SecureSprout | Report Sites</title>

</head>
<body>
      <div class="p-5 mb-4 bg-header">
        <div class="container-fluid py-5">
            <img src="../static/images/parentDash/parentDashHeaderImage.svg" class="float-end mt-0" style="width: 250px;">
          <h1 class="display-5 fw-bold text-white">SecureSprout <i class="fas fa-leaf"></i></h1>
          <p class="col-md-8 fs-4 text-white">Reporting Websites</p>
      

        </div>
      </div>
  <h2 class="display-10 fw-bold text-gray">Make sure to report websites to the right authorities so that other people know that its malicious</h2>
  <h2 class="display-10 fw-bold text-gray">There are 3 ways you can do this: </h2>
  
  <div class="row align-items-md-stretch mx-4">
  <div class="col-md-6">

    <a href="https://safebrowsing.google.com/safebrowsing/report_badware/?hl=en" class="btn btn-outline-dark mt-2"target="_blank">Report to Google SafeSearch</a>
  </div></div>
  <div class="row align-items-md-stretch mx-4">
  <div class="col-md-6">

    <a href="https://www.microsoft.com/en-us/wdsi/support/report-unsafe-site-guest" class="btn btn-outline-dark mt-2"target="_blank">Report to Microsoft</a>
  </div></div>
  <div class="row align-items-md-stretch mx-4">
  <div class="col-md-6">

     <a href="https://reportfraud.ftc.gov/#/" class="btn btn-outline-dark mt-2"target="_blank">Report to the FTC</a>
  </div></div>


 
      
</body>
</html>